@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@font-face {
  font-family: 'Saltburn';
  src: url('../../assets/Saltburn/saltburn.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Tox';
  src: url('../../assets/Tox/Tox.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'NeugAsias';
  src: url('../../assets/NeugAsia/NeugAsiaSDemo.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'NeugAsia';
  src: url('../../assets/NeugAsia/NeugAsiaDemo.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'MADE';
  src: url('../../assets/MA/MADE.otf');
  font-weight: 200;
  font-style: normal;
}